<div class="container my-4">
  <h1>All accepted jobs</h1>
  <ul class="list-group mb-4 pt-3">
    <% @jobs.each do |job| %>
      <div class="card-product mt-3">
        <div class="card-product-infos">
          <h4><%= job.offer.title %></h3>
          <p><strong>Freelancer:</strong><br> <!-- resolver link aqui pra perfil do freela -->
            <%= job.user.username %>
          </p>
          <p><strong>Preço</strong></p>
          R$ <%= job.offer.price %>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<!-- table version, if we like it more
  <h1>All accepted jobs</h1>
<table class = 'table table-striped'>
  <%= current_user.username %>
  <thead>
    <tr>
      <th>Nome do projeto</th>
      <th>Freelancer</th>
      <th>Descrição</th>
      <th>Data de início</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr> 
    <td><%= job.offer.title %>  </td> 
    <td> <%= job.user.username %> </td>
    <td> <%= job.offer.description %> </td>
    <td><%= job.start_date %> </td>
    <td> R$ <%=job.offer.price %> </td>
  </tr>
  <% end %>
  </tbody>
</table>

-->