<div class="container my-5">
  <div class="row">
    <h1>Job Details</h1>
    <p><%= link_to 'Back', :back, class: "btn btn-primary ml-4" %></p>
  </div>
  <div class="card my-4">
    <div class="card-body">
      <div class="card-title border-bottom">
        <h2><%= @job.offer.title %></h2>
      </div>
      <div class="desc mb-4">
        <p><strong>Job description:</strong></p>
        <%= @job.offer.description %></p>
      </div>
      <div class="price mb-4">
        <p class="mb-2"><strong>Job value:</strong></p>
        <h6>$<%= @job.offer.price %></h6>
      </div>
      <div class="created_at mb-4">
        <p class="mb-2"><strong>Published by:</strong></p>
        <h6><%= @job.offer.user.username.capitalize %></h6>
        <% if @job.contractor_rating.nil? %>
          Rating for this job: Not rated yet
        <% else %>
          Rating for this job: <%= @job.contractor_rating %> <div class="stars" style="--rating: <%= @job.contractor_rating %>;"></div>
        <% end %>
      </div>
      <div class="created_at mb-4">
        <p class="mb-2"><strong>Freelancer:</strong></p>
        <h6><%= @job.user.username.capitalize %></h6>
        <% if @job.employer_rating.nil? %>
          Rating for this job: Not rated yet
        <% else %>
          Rating for this job: <%= @job.employer_rating %> <div class="stars" style="--rating: <%= @job.employer_rating %>;"></div>
        <% end %>
      </div>
       <div class="created_at mb-4">
        <p class="mb-2"><strong>Start date:</strong></p>
        <h6><%= @job.start_date %></h6>
      </div>
      <div class="created_at mb-4">
        <br>
        <%= link_to @job.done? ? 'Job is done, click here to add/edit a review' : 'Mark job as finished',
            edit_job_path(@job), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
