<div class="container my-4">
  <h1>Freelancers profiles</h1>
  <ul class="list-group mb-4 pt-3">
    <% @users.each do |user| %>
      <div class="card-product pl-3 mt-3">
        <%= image_tag user.profile_picture, class: "avatar-square" %>
        <div class="card-product-infos">
          <h3><%= link_to user.username, show_user_path(user), style: "text-decoration: none;" %></h3>
          <p><strong>Skills:</strong><br>
            <%=user.skills%>
          </p>
          <p><strong>Profile Summary:</strong></p>
          <%= user.profile_summary%>
          <p><strong>Contractor Rating:</strong></p>
          <%= user.contractor_rating_avg %><i class="fas fa-star ml-1" , style="color: #FDCC0D;"></i>
          <p><strong>Employer Rating:</strong></p>
          <%= user.employer_rating_avg %><i class="fas fa-star ml-1" , style="color: #FDCC0D;"></i>
        </div>
      </div>
    <% end %>
  </ul>
</div>
