<div class="container my-5 pt-2">
  <div class="card">
    <div class="card-header">
      <%= image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      Account
    </div>
    <div class="card-body">
      <h5 class="card-title">Username</h5>
      <p class="card-text"><%= current_user.username %></p>
      <h5 class="card-title">Email</h5>
      <p class="card-text mb-4"><%= current_user.email %></p>
      <h5 class="card-title">Skills</h5>
      <p class="card-text mb-4"><%= current_user.skills %></p>
      <h5 class="card-title">Profile summary</h5>
      <p class="card-text mb-4"><%= current_user.profile_summary %></p>
      <h5 class="card-title">Employer Rating</h5>
      <p class="card-text mb-4"><%= current_user.employer_rating_avg %><i class="fas fa-star ml-1" , style="color: #FDCC0D;"></i></p>
      <h5 class="card-title">Freelancer Rating</h5>
      <p class="card-text mb-4"><%= current_user.contractor_rating_avg %><i class="fas fa-star ml-1" , style="color: #FDCC0D;"></i></p>
      <%= link_to 'Edit Account', edit_user_registration_path, class: "btn", style: "color: white"  %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>
