<div class="container">
  <h1>New Offer</h1>
  <%= simple_form_for(@offer) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %> # Invalid price should generate compatible error. Text description != blank
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
