<div class="container mt-3">
  <div class="header text-center p-3 rounded-3" style="background-color: #b7e4c7">
    <h1><%= @offer.title %><strong> details</strong></h1>
  </div>
  <div class="card my-4">
    <div class="card-body">
      <div class="card-title border-bottom">
        <h2><%= @offer.title %></h2>
      </div>
      <div class="desc mb-4">
        <p><strong>Offer description:</strong></p>
        <%= @offer.description %></p>
      </div>
      <div class="price mb-4">
        <p><strong>Offer value:</strong></p>
        <h6>$<%= @offer.price %></h6>
      </div>
      <div class="created_at mb-4">
        <p><strong>Published by:</strong></p>
        <%= @offer.user.username %>
      </div>
      <div class="created_at mb-4">
        <p><strong>Created on:</strong></p>
        <h6><%= @offer.created_at.to_formatted_s(:long_ordinal)  %></h6>
      </div>
      <% if current_user.id != @offer.user_id && !@offer.fulfilled? %>
        <%= button_to 'Accept Offer', jobs_path, params: { offer_id: @offer.id } %>
      <% end %>
      <% if policy(@offer).update? %>
        <%= link_to 'Edit', edit_offer_path(@offer) %> |
        <%= link_to 'Remove', offer_path, method: :delete %>
      <% end %>
      <% if current_user.id == @offer.user_id && @offer.fulfilled? %>
        <%= link_to "Offer accepted by #{Job.find_by(offer: @offer).user.username}",
                    job_path(Job.find_by(offer: @offer)) %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', :back, class: "btn btn-primary" %>

</div>

