<div class="container mt-3">
  <h1><%= @offer.title %> details</h1>
  <div class="card my-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @offer.title %></h5>
      <p class="card-text"><%= @offer.description %></p>
      <h6 class="card-subtitle mb-2 text-muted">$<%= @offer.price %></h6>
      <!-- Link below won't work, job routes and controller still to do -->
      <% if current_user.id != @offer.user_id %>
        <%= button_to 'Accept Offer', user_jobs_path(current_user), params: { offer_id: @offer.id } %>
      <% end %>
      <% if current_user.id == @offer.user_id %>
        <%= link_to 'Edit', edit_offer_path(@offer) %> |
        <%= link_to 'Remove', offer_path, method: :delete %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', offers_path, class: "btn btn-primary" %>

</div>
