<div class="container mt-3">
  <h1><%= @offer.title %> details</h1>
  <div class="card my-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @offer.title %></h5>
      <p class="card-text"><%= @offer.description %></p>
      <h6 class="card-subtitle mb-2 text-muted">$<%= @offer.price %></h6>
      <% if current_user.id != @offer.user_id && !@offer.fulfilled? %>
        <%= button_to 'Accept Offer', jobs_path, params: { offer_id: @offer.id } %>
      <% end %>
      <% if current_user.id == @offer.user_id && !@offer.fulfilled? %>
        <%= link_to 'Edit', edit_offer_path(@offer) %> |
        <%= link_to 'Remove', offer_path, method: :delete %>
      <% end %>
      <% if current_user.id == @offer.user_id && @offer.fulfilled? %>
        <%= link_to "Offer accepted by #{Job.find_by(offer: @offer).user.username}",
                    job_path(Job.find_by(offer: @offer)) %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', class: "btn btn-primary" %>

</div>

